# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/

# Python
__pycache__/
*.py[cod]
*.so

# Environment variables
.env
.env.development
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Credentials
credentials.json

# Miscellaneous files
.DS_Store

# Log files
*.log

# Temporary files
*.tmp
*.temp

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Virtual Environment
venv/
.venv/
.vercel

# Pytest
.pytest_cache/
