fastapi==0.115.5
uvicorn[standard]==0.32.1
google-api-python-client==2.153.0
google-auth==2.36.0
pandas==2.2.3
openai==1.54.4
python-dotenv==1.0.1
google-cloud-secret-manager==2.21.1
google-cloud-bigquery==3.27.0
pandas-gbq==0.24.0
httpx==0.28.1
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
bcrypt==4.2.1
slowapi==0.1.9